{% extends 'basis.html' %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load main_tags %}
{% load goods_tags %}

{% load cart_tags %}

{% block title %}{{ good.title }}{% endblock %}
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/good/Mstyle.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/good/slider.css' %}" type="text/css" media="all">
    <link href="{% static 'css/good/jquery.bxslider.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/good/jquery.mCustomScrollbar.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" media="all">
    <script type="text/javascript" src="{% static 'js/good/jquery.min.js' %}"></script>
    <script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>

    <script type="text/javascript" src="{% static 'js/good/productslider.js' %}"></script>
    <!-- bxSlider Javascript file -->
    <script src="{% static 'js/good/jquery.bxslider.min.js' %}"></script>
    <!-- bxSlider CSS file -->
    <script src="{% static 'js/good/jquery.collagePlus.min.js' %}"></script>

    <!--[if IE]>
	    <link rel="stylesheet" href="{% static 'css/good/styleIE.css' %}" type="text/css" media="all">
	    <script type="text/javascript" src="{% static 'js/good/html5.js' %}"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/message_modal_styles.css' %}" type="text/css">
    <script type="text/javascript">
        $(document).ready(function(){
            $('.bxslider').bxSlider({
  		        auto: true,
  		        autoControls: false
            });
  	        $('.tab2-window').hide();
            $('.tab3-window').hide();
	        $('.about-tabs span').click(function() {
                $('.about-tabs span').removeClass('active');
                $(this).addClass('active');
            });
            $('.tab1').click(function() {
    	        $('.tab1-window').show();
    	        $('.tab2-window').hide();
    	        $('.tab3-window').hide();
    	        $("#mcs_container").mCustomScrollbar("vertical",400,"easeOutCirc",0,"auto","yes","yes",10);
            });
            $('.tab2').click(function() {
    	        $('.tab1-window').hide();
    	        $('.tab2-window').show();
    	        $('.tab3-window').hide();
    	        $("#mcs_container").mCustomScrollbar("vertical",400,"easeOutCirc",0,"auto","yes","yes",10);
            });
            $('.tab3').click(function() {
    	        $('.tab1-window').hide();
    	        $('.tab2-window').hide();
    	        $('.tab3-window').show();
    	        $("#mcs_container").mCustomScrollbar("vertical",400,"easeOutCirc",0,"auto","yes","yes",10);
            });
        });

        $(function() {
            $(window).scroll(function() {
                if($(this).scrollTop() != 0) {
                    $('#up').fadeIn();
                } else {
                    $('#up').fadeOut();
                }
            });
            $('#up').click(function() {
                $('body,html').animate({scrollTop:0},800);
            });
        });

        $(window).load(function(){
            $('#category-container').masonry({
                // указываем элемент-контейнер в котором расположены блоки для динамической верстки
	            itemSelector: '#category',
                // указываем класс элемента являющегося блоком в нашей сетке
                singleMode: true,
                // true - если у вас все блоки одинаковой ширины
	            isResizable: true,
                // перестраивает блоки при изменении размеров окна
	            isAnimated: true,
                // анимируем перестроение блоков
                animationOptions: {
	                queue: true,
	                duration: 500
	            }
                // опции анимации - очередь и продолжительность анимации
	        });

            $('.Collage').collagePlus({
                'targetHeight': 87,
                'allowPartialLastRow': false
            });
        });

    </script>
    {% trans 'Unfollow' as unfollow %}
    {% trans 'Follow' as follow %}
    <script type="text/javascript">
         // Helper function to redirect on ogin url if ajax view require login
        function check_login_url(xhr) {
            var login_url = '{% url "accounts:login" %}' + "?next={% url 'goods:good_view' good.pk %}";
            if (xhr.responseText.indexOf('login') != -1 ) {
             // Check if response doesn't contain redirect to login. If it contains - redirect to login window
             window.location = login_url;
            }
        }
        // Get CSRF cookie protection
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod (method) {
            // These HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if(!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    // Set X-CSRFToken HTTP Header
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
	    $(document).ready(function() {
            // Subscribe action scripts
            if ($('#about-signup').data('action') == 'remove') {
                $('#about-signup').html('{{ unfollow }}');
                $('.green #about-signup').css('background', '#b1fe00');
                $('.orange #about-signup').css('background', '#ff6600');
                $('#about-signup').css('color', '#fff');
            } else {
                $('#about-signup').html('{{ follow }}');
                $('#about-signup').css('background', '#fffefc');
                $('.green #about-signup').css('color', '#b1fe00');
                $('.orange #about-signup').css('color', '#ff6600');
            }
            $('#about-signup').click(function(e){
                e.preventDefault();
                $.post('{% url "accounts:add_subscriber" %}',
                    {
                        pk: $(this).data('id'),
                        action: $(this).data('action')
                    },
                    function (data, status, xhr) {
                        check_login_url(xhr);
                        if (data['status'] == 'ok') {
                            var previous_action = $('#about-signup').data('action');
                            $('#about-signup').data('action', previous_action == 'add' ? 'remove' : 'add');
                            if (previous_action == 'add') {
                                $('#about-signup').html('{{ unfollow }}');
                                $('.green #about-signup').css('background', '#b1fe00');
                                $('.orange #about-signup').css('background', '#ff6600');
                                $('#about-signup').css('color', '#fff');
                            } else {
                                $('#about-signup').html('{{ follow }}');
                                $('#about-signup').css('background', '#fffefc');
                                $('.green #about-signup').css('color', '#b1fe00');
                                $('.orange #about-signup').css('color', '#ff6600');
                            }
                        }
                    }
                );
            });

            // lazy load
            var page = 1;
            var empty_page = false;
            var block_request = false;
            $(window).scroll(function() {
                var margin = $(document).height() - $(window).height() - 200;
                if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
                    block_request = true;
                    page += 1;
                    $.get('?page=' + page, function (data) {
                        if (data == ''){
                            empty_page = true;
                        } else {
                            block_request = false;
                            var $content = $(data);
                            $('#category-container').append($content).masonry('appended', $content);
                        }
                    });
                }
            });
	    }); //Конец ready

         function showMessageWindow() {
             console.log('clicked');
                $('#message-modal').show();
         }

         function closeMessage() {
             $('#message-modal').hide();
         }

         function sendMessageChat(recipient) {
             var text = $('#id_message').val();
             $.post('{% url "chat:send_message_ajax" %}', {partner: recipient, text: text}, function (data, status, xhr) {
                 if (data['status'] == 'ok') {
                     $('#message-modal').hide();
                 } else {
                     $('#message_errors').text(data['reason']);
                 }
             });
         }

    </script>
</head>
{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'fotorama/fotorama.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/good.css' %}">
<script type="text/javascript" src="{% static 'fotorama/fotorama.js' %}"></script>
<script type="text/javascript" src="{% static 'js/good.js' %}"></script>
{% endblock %}
{% block content %}
{% include 'cart_showcase_block.html' %}
    <div class="eleven wide column">
        <div class="ui segment center aligned">
            <img id="user_avatar" class="ui centered mini circular image" src="{{ profile.avatar.url }}">
            <a href="#" class="copy">{{ good.user.username }}</a><br>
            <span>{% trans 'seller' %}</span>
        </div>
        <div class="ui segment center aligned">
            <div class="left comments">{{ comments_count }}</div>
			<a href="#" class="ui small olive button">{% trans 'WRITE' %}</a>
			<div class="right likes">{{ good.users_like.count }}</div>
		</div>
		<div class="ui segment center aligned">
		    <div class="fotorama" data-nav="thumbs" data-height="380" data-allowfullscreen="true" thumbmargin="4">
		        {% for photo in photos %}
                    <a href="{{ photo.image.url }}">
                        <img src="{{ photo.image.url }}">
                    </a>
                {% empty %}
                    <a href="{% static 'images/no-good-image.png' %}">
                        <img src="{% static 'images/no-good-image.png' %}" width="99" height="66">
                    </a>
                {% endfor %}
			</div>
			<div class="aboutreviewproduct">
                {% if good.deal == SALE %}
		            <div class="aboutdiscount">{{ good.get_sale_percent }}%</div>
                {% elif good.deal == AUCTION %}
                    <div class="about-auction">
			            <p>{% trans 'left until the end' %}</p>
			            <div class="about-auction-first">1</div>
    		            <div class="about-auction-second">0</div>
			            <div class="about-auction-first">0</div>
			            <div class="about-auction-second">5</div>
			            <div class="about-auction-first">2</div>
			            <div class="about-auction-last">5</div>
		            </div>
                {% endif %}
		        <h3 id="about_title">{{ good.title }}</h3>
		        <div id="about_condition">{% trans 'State' %}: {{ good.get_state_display }}</div>
		        <a href="#" id="about_address"><i class="marker icon"></i>{{ profile.get_country_display }} <br>{{ profile.city }}</a>
		        <div id="about-delivery">{% trans 'Delivery' %}: {{ good.cooperation|truncatewords:5 }}</div>
		        <div id="about-number"> {% trans 'Number of items available: ' %}{{ good.quantity }}</div>
                {% if good.deal == SALE %}
		            <div id="about-old-price">{{ good.old_price }} $</div>
		            <div id="about-price">{{ good.new_price }} $</div>
                {% elif good.deal == AUCTION %}
                    <div class="about-fix-price">
                        <p>{{ good.reserve_price }} $</p> <span>fix price</span>
                    </div>
		            <div class="about-auction-price">
                        <p>{{ good.min_price }} $</p> <span>{% with bids_count=good.bids.count %}{{ bids_count }} {% trans 'bid' %}{{ bids_count|pluralize }}{% endwith %}</span>
                    </div>
                {% else %}
                    <div id="about-price2">{{ good.price }} $</div>
                {% endif %}
                {% if good.user == request.user %}
		            <a href="#" id="about-sale">{% trans 'Edit' %}</a>
		            <a href="#" id="about-cart">{% trans 'Delete' %}</a>
                {% else %}
                    <a href="#" id="about-sale">{% trans 'Buy' %}</a>
                    <a href="#" id="about-cart" onclick="addToCart({{ good.id }}); event.preventDefault();" data-id="{{ good.id }}" data-action="{% if good.id in cart.get_list_items %}remove{% else %}add{% endif %}">
                    {% if good.id in cart.get_list_items %}
                        {% trans 'In cart' %}
                    {% else %}
                        {% trans 'Add to cart' %}
                    {% endif %}
                    </a>
                {% endif %}
                <div id="social">
					<button class="ui mini circular grey icon button">
                        <i class="vk icon"></i>
                    </button>
                    <button class="ui mini circular grey icon button">
                        <i class="facebook f icon"></i>
                    </button>
                    <button class="ui mini circular grey icon button">
                        <i class="odnoklassniki icon"></i>
                    </button>
                    <button class="ui mini circular grey icon button">
                        <i class="google plus icon"></i>
                    </button>
                    <button class="ui mini circular grey icon button">
                        <i class="twitter icon"></i>
                    </button>
                    <button class="ui mini circular grey icon button">
                        <i class="pinterest icon"></i>
                    </button>
			    </div>
            </div>
		</div>
    </div>
{% endblock %}

<div class="aboutwrapper">
	        <div class="aboutleft">
		        <div class="aboutuser">
			        <div class="about-ava">
				        <div id="about-user-block">
					        <div id="about-avatar">
						        {% thumbnail profile.avatar "43x43" as avatar %}
					                <img src="">
                                {% endthumbnail %}
					        </div>
					        <a href="{{ profile.get_absolute_url }}" id="about-avatar-border-main"></a>
				        </div>
			        </div>
			        <div class="clear"></div>
                    
                </div>
                <div class="aboutoptionsproduct">
			        <div class="aboutoptionsproductcomments">{{ comments_count }}</div>
			        <a href="#" class="aboutwriteuser" id="message-send" onclick="showMessageWindow()">{% trans 'write' %}</a>
			        <div class="aboutoptionsproductlikes">{{ good.users_like.count }}</div>
			        <div class="clear"></div>
		        </div>
		        <div id="mcs_container">
			        <div class="customScrollBox">
				        <div class="container">
					        <div class="content">
						        <div class="aboutreviewproduct">
                                    {% if good.deal == SALE %}
							            <div class="aboutdiscount">{{ good.get_sale_percent }}%</div>
                                    {% elif good.deal == AUCTION %}
                                        <div class="about-auction">
								            <p>{% trans 'left until the end' %}</p>
								            <div class="about-auction-first">1</div>
								            <div class="about-auction-second">0</div>
								            <div class="about-auction-first">0</div>
								            <div class="about-auction-second">5</div>
								            <div class="about-auction-first">2</div>
								            <div class="about-auction-last">5</div>
							            </div>
                                    {% endif %}
							        <div class="slider">
								        <img src="#" width="644" height="473">
								        <ul>
                                            {% for photo in photos %}
									            <li>
                                                    <a href="{{ photo.image.url }}">
                                                        {% thumbnail photo.image "120x86" as im %}
                                                            <img src="{{ im.url }}" width="118" height="86">
                                                        {% endthumbnail %}
                                                    </a>
									            </li>
									        {% empty %}
                                                <li>
                                                    <a href="{% static 'images/no-good-image.png' %}" id="mini-thumbs-modal-slider">
                                                        <img src="{% static 'images/no-good-image.png' %}" width="120" height="86">
                                                    </a>
                                                </li>
                                            {% endfor %}
								        </ul>
								        <div class="clear"></div>
							        </div>
							        <div class="clear"></div>
							        <div id="about-title">{{ good.title }}</div>
							        <div id="about-condition">{% trans 'State' %}: {{ good.get_state_display }}</div>
							        <a href="{% url 'goods:search' %}?filter=1&location={{ profile.get_country_display }}" id="about-adress">
                                        {{ profile.get_country_display }}, {{ profile.city }}
                                    </a>
							        <div id="about-delivery">{% trans 'Delivery' %}: {{ good.cooperation|truncatewords:5 }}</div>
							        <div id="about-number"> {% trans 'Number of items available: ' %}{{ good.quantity }}</div>
                                    {% if good.deal == SALE %}
							            <div id="about-old-price">{{ good.old_price }} $</div>
							            <div id="about-price">{{ good.new_price }} $</div>
                                    {% elif good.deal == AUCTION %}
                                        <div class="about-fix-price">
                                            <p>{{ good.reserve_price }} $</p> <span>fix price</span>
                                        </div>
							            <div class="about-auction-price">
                                            <p>{{ good.min_price }} $</p> <span>{% with bids_count=good.bids.count %}{{ bids_count }} {% trans 'bid' %}{{ bids_count|pluralize }}{% endwith %}</span>
                                        </div>
                                        <div class="clear"></div>
                                    {% else %}
                                        <div id="about-price2">{{ good.price }} $</div>
                                    {% endif %}
                                    {% if good.user == request.user %}
							            <a href="#" id="about-sale">{% trans 'Edit' %}</a>
							            <a href="{% url 'goods:delete_good' good.pk %}" id="about-cart">{% trans 'Delete' %}</a>
                                    {% else %}
                                        <a href="#" id="about-sale">{% trans 'Buy' %}</a>
                                        <a href="#" id="about-cart" onclick="addToCart({{ good.id }}); event.preventDefault();" data-id="{{ good.id }}" data-action="{% if good.id in cart.get_list_items %}remove{% else %}add{% endif %}">
                                            {% if good.id in cart.get_list_items %}
                                                {% trans 'In cart' %}
                                            {% else %}
                                                {% trans 'Add to cart' %}
                                            {% endif %}
                                        </a>
                                    {% endif %}
{#							        <ul id="about-statistics">#}
{#								        <li>50</li>#}
{#								        <li>50</li>#}
{#								        <li>50</li>#}
{#								        <li>50</li>#}
{#								        <li>50</li>#}
{#								        <div class="clear"></div>#}
{#							        </ul>#}
							        <ul id="social">
								        <li><a href="{{ site_root|social_share:VK }}{{ good.get_absolute_url }}"></a></li>
								        <li><a href="{{ site_root|social_share:FACEBOOK }}{{ good.get_absolute_url }}"></a></li>
								        <li><a href="#"></a></li>
								        <li><a href="#"></a></li>
								        <li><a href="#"></a></li>
								        <li><a href="{{ site_root|social_share:PINTEREST }}{{ good.get_absolute_url }}"></a></li>
								        <div class="clear"></div>
							        </ul>
						        </div>
						<div class="aboutinfoproduct">
							<div class="about-tabs" class="tab1">
									<span class="tab1 active">{% trans 'Description' %}</span>
									<span class="tab2">{% trans 'Shipping and payment' %}</span>
									<span class="tab3">{% trans 'About seller' %}</span>
									<div class="clear"></div>
								<div class="tab1-window">
									<h3>{% trans 'characteristics' %}</h3>
									<div class="tab1-window-td1">
										<p>{% trans 'Trade mark' %}</p>
										<h4>{{ properties.trade_mark }}</h4>
										<p>{% trans 'Model' %}</p>
										<h4>{{ properties.model }}</h4>
									</div>
									<div class="tab1-window-td2">
										<p>{% trans 'Material' %}</p>
										<h4>{{ properties.material }}</h4>
										<p>{% trans 'Size' %}</p>
										<h4>{{ properties.size }}</h4>
									</div>
									<div class="tab1-window-td3">
										<p>{% trans 'Color' %}</p>
										<h4>{{ properties.color }}</h4>
										<p>{% trans 'weight' %}</p>
										<h4>{{ properties.weight }} Kg</h4>
									</div>
									<div class="tab1-window-td4">
										<p>{% trans 'equipment' %}</p>
										<h4>{{ properties.equipment }}</h4>
										<p>{% trans 'vendor' %}</p>
										<h4>{{ properties.vendor }}</h4>
									</div>
									<h3>{% trans 'Description' %}</h3>
									<a href="#" class="aboutinfoproduct-button">{% trans 'show the original text' %}</a>
									<div class="introtext1">{% trans 'Automatic translation is performed Google Translate service, and may not be accurate.' %}</div>
									<div class="introtext2">
                                        {{ properties.description|linebreaksbr }}
                                    </div>
								</div>
								<div class="tab2-window">
									<h3>{% trans 'Delivery' %}</h3>
									<p>{% trans 'Delivery type' %}</p>
									<h4>{{ good.get_delivery_form_display }}</h4>
									<p>{% trans 'Location' %}</p>
									<div class="aboutinfoproduct-place"><a href="#">{{ good.location }}</a></div>
									<p>{% trans 'Delivery' %}</p>
									<h4>{{ good.cooperation }}</h4>
									<p>{% trans 'Exception' %}</p>
									<a href="#">США,</a>
									<a href="#">Австрия,</a>
									<a href="#">Бельгия,</a>
									<a href="#">Болгария,</a>
									<a href="#">Хорватия,</a>
									<a href="#">Кипр,</a>
									<a href="#">Чехия,</a>
									<a href="#">Дания,</a>
									<a href="#">Эстония,</a>
									<a href="#">Финляндия,</a>
									<a href="#">Франция,</a>
									<a href="#">Германия,</a>
									<a href="#">Греция,</a>
									<a href="#">Венгрия,</a>
									<a href="#">Исландия,</a>
									<a href="#">Ирландия,</a>
									<a href="#">Италия,</a>
									<a href="#">Латвия,</a>
									<a href="#">Лихтенштейн,</a>
									<a href="#">Литва,</a>
									<a href="#">Люксембург,</a>
									<a href="#">Мальта,</a>
									<a href="#">Нидерланды,</a>
									<a href="#">Норвегия,</a>
									<a href="#">Польша,</a>
									<a href="#">Португалия,</a>
									<a href="#">Румыния,</a>
									<a href="#">Словакия,</a>
									<a href="#">Словения,</a>
									<a href="#">Испания,</a>
									<a href="#">Швеция,</a>
									<a href="#">Швейцария,</a>
									<a href="#">Великобритания</a>
									<br>
									<br>
									<p>{% trans 'Delivery time' %}</p>
									<h4>{{ good.delivery_time }}</h4>
									<div class="about-text">
										{% blocktrans %}
                                            Estimated delivery time includes processing time of the order by the seller,
                                            the postal code and the recipient of the sender, the time of receipt of order delivery service,
                                            depending on the selected service delivery and timing of payments processed.
                                            Delivery times may vary, particularly during peak periods.
                                        {% endblocktrans %}
									</div>
									<h3>{% trans 'Refund' %}</h3>
									<div class="aboutinfoproduct-td1">
										<p>{% trans 'Purchase returns' %}</p>
										<h4>{{ good.purchase_returns_time }}</h4>
									</div>
									<div class="aboutinfoproduct-td2">
										<p>{% trans 'Reimbursement of the cost of goods' %}</p>
										<h4>{{ good.get_refund_display }}</h4>
									</div>
									<div class="aboutinfoproduct-td3">
										<p>{% trans 'redelivery' %}</p>
										<h4>{{ good.get_back_delivery_form_display }}</h4>
									</div>
									<div class="clear"></div>
									<h3>{% trans 'More' %}</h3>
									<a href="#" class="aboutinfoproduct-button">{% trans 'show the original text' %}</a>
									<div class="introtext1">
                                        {% trans 'Automatic translation is performed Google Translate service, and may not be accurate.' %}
                                    </div>
									<div class="introtext2">
                                        {{ good.delivery_description|linebreaksbr }}
                                    </div>
								</div>
								<div class="tab3-window">
									<div class="tab3-window-td1">
										<p style="margin-bottom:7px;">{% trans 'Address' %}</p>
										<div class="aboutinfoproduct-place" style="margin-bottom:20px;">
                                            <a href="{% url 'goods:search' %}?filter=1&location={{ profile.get_country_display }}">
                                                {{ profile.get_country_display }}
                                            </a>,
                                            <a href="{% url 'goods:search' %}?filter=1&location={{ profile.city }}">
                                                {{ profile.city }}
                                            </a>
                                        </div>
										<p>{% trans 'Phone' %}</p>
										<h4>{{ profile.phone }}</h4>
										<p>{% trans 'Additional phone' %}</p>
										<h4>{{ profile.additional_phone }}</h4>
									</div>
									<div class="tab3-window-td2">
										<p>Skype</p>
										<h4>{{ profile.skype }}</h4>
										<p>E-mail</p>
										<h4>{{ profile.user.email }}</h4>
										<p>{% trans 'Website' %}</p>
										<h4>{{ profile.site|check_http_prefix }}</h4>
									</div>
									<div class="tab3-window-td3">
										<p>{% trans 'Is an' %}</p>
										<h4>{{ profile.get_org_form_display }}</h4>
										<p>{% trans 'Sex' %}</p>
										<h4>{{ profile.get_sex_display }}</h4>
										<p>Instagramm</p>
										<h4>{{ profile.instagram }}</h4>
									</div>
									<div class="clear"></div>
									<p>{% trans 'Last logged in' %}  {{ profile.user.last_login }}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="dragger_container">
						<div class="dragger"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="aboutright">
		<div class="aboutmoreproductcategory">
			<h3>{% trans 'Other goods with same tags' %}</h3>
			<ul class="Collage">
                {% for good in random_goods_with_same_tags %}
				    <li>
                        <a href="{% url 'goods:good_view' good.pk %}">
                            {% if good.get_first_image %}
                                {% thumbnail good.get_first_image.image "52x87" as im %}
                                    <img src="{{ im.url }}"  width="52px" height="87px">
                                {% endthumbnail %}
                            {% else %}
                                <img src="{% static 'images/no-good-image.png' %}" width="52px" height="87px">
                            {% endif %}
                        </a>
                    </li>
                {% empty %}
                    {% trans 'No goods with sam tag' %}
                {% endfor %}
			</ul>
			<div class="clear"></div>
			<a href="{% url 'goods:search' %}?filter=1&{% for id in tags_ids %}tag_id[]={{ id }}&{% endfor %}" class="aboutproductmorebutton">{% trans 'And more' %}...</a>
		</div>
		<div class="aboutmoreshowcasecategory">
			<h3>{% trans 'Other showcases this category' %}</h3>
            {% for good in random_goods_by_random_seller %}
                {% if forloop.first %}
                    <a href="{% url 'goods:good_view' good.pk %}">
                        {% if good.get_first_image %}
                            {% thumbnail good.get_first_image.image "174x137" as im %}
                                <img src="{{ im.url }}" alt="" class="showcasebigimg">
                            {% endthumbnail %}
                        {% else %}
                            <img src="{% static 'images/no-good-image.png' %}" class="showcasebigimg">
                        {% endif %}
                    </a>
                    <ul>
                {% elif forloop.last %}
                    <li>
                        <a href="{% url 'goods:good_view' good.pk %}">
                            {% show_good_image good '53' '88' %}
                        </a>
                    </li>
                    </ul>
                {% else %}
                    <li>
                        <a href="{% url 'goods:good_view' good.pk %}">
                            {% show_good_image good '53' '88' %}
                        </a>
                    </li>
                {% endif %}
{##}
{#			    <ul>#}
{#				    <li><a href="#"><img src="tmp/3imgr.jpg" alt=""></a></li>#}
{#				    <li><a href="#"><img src="tmp/3imgr.jpg" alt=""></a></li>#}
{#				    <li><a href="#"><img src="tmp/3imgr.jpg" alt=""></a></li>#}
{#			    </ul>#}
            {% empty %}
                {% trans 'No other showcases in this category' %}
            {% endfor %}
			<div class="clear"></div>
            {% if random_seller %}
			    <div id="about-signup" data-id="{{ random_seller.user.pk }}" data-action="{% if random_seller.user in request.user.subscribers.users.all  %}remove{% else %}add{% endif %}">{% trans 'follow' %}</div>
            {% endif %}
		</div>
		<div class="aboutsellerscategory">
			<h3>{% trans 'Sellers with this tags' %}</h3>
			<ul id="seller-list">
                {% for seller in random_sellers %}
                    <li>
                        <div id="seller-users">
                            {% thumbnail seller.avatar "36x36" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}
                            <a href="{{ seller.get_absolute_url }}" id="seller-users-ramka"></a>
                        </div>
                        <a href="{{ seller.get_absolute_url }}" id="seller-name">{{ seller.user.username }}</a>
                        <a href="{{ seller.get_absolute_url }}" class="seller-name-second">{{ seller.user.username }}</a>
                        <div class="clear"></div>
                    </li>
                {% empty %}
                    {% trans 'No sellers with same tags' %}
                {% endfor %}
            </ul>
			<a href="{% url 'accounts:user_search' %}" class="aboutsellermorebutton">{% trans 'more' %}...</a>
		</div>
		<div class="aboutsliderproduct">
			<ul class="bxslider">
                {% for slider_good in random_goods_slider %}
			 	    <li>
			  		    <span>{{ slider_good.get_good_price_by_deal }} $</span>
			  		    <a href="{% url 'goods:good_view' slider_good.pk %}">
                            {% show_good_image slider_good '236' '173' %}
				  		    <h3>{{ slider_good.title }}</h3>
			  		    </a>
			  		    <a href="#" class="about-slider-button">{% trans 'Buy' %}</a>
			  	    </li>
                {% empty %}
                    {% trans 'No other showcases in this category' %}
                {% endfor %}
			</ul>
			<div class="clear"></div>
		</div>

	</div>
	<div class="clear"></div>
{#	<h3 class="about-title-one">{% trans 'Customers who bought this product also purchased' %}</h3>#}
{#	<div class="aboutmoresaleusers">#}
{#		<ul>#}
{#            {% for good_likes in goods_with_max_likes %}#}
{#			    <li class="max_likes_goods">#}
{#                    <a href="{% url 'goods:good_view' good_likes.pk %}">#}
{#                        {% show_good_image good_likes '88' '82' %}#}
{#                        <h3>{{ good_likes.title }}</h3>#}
{#                        <span>{{ good_likes.get_good_price_by_deal }} $</span>#}
{#                    </a>#}
{#                    <a href="#" class="aboutmoresaleusers-sale">{% trans 'Buy' %}</a>#}
{#                    <div id="aboutmoresaleusers-users">#}
{#                        {% thumbnail good_likes.user.profile.avatar "36x36" as im %}#}
{#                            <img src="{{ im.url }}">#}
{#                        {% endthumbnail %}#}
{#                        <a href="{{ good_likes.user.profile.get_absolute_url }}" id="aboutmoresaleusers-users-ramka"></a>#}
{#                    </div>#}
{#                    <div class="aboutmoresaleusers-status">{% trans 'seller' %}</div><br>#}
{#                    <a href="{{ good_likes.user.profile.get_absolute_url }}" class="aboutmoresaleusers-name">{{ good_likes.user.username }}</a>#}
{#			    </li>#}
{#            {% empty %}#}
{#                No goods#}
{#            {% endfor %}#}
{#		</ul>#}
{#		<div class="clear"></div>#}
{#	</div>#}
{#	<a href="#" class="about-banner">#}
{#		<img src="{% static 'images/good/tmp/banner.jpg' %}" alt="">#}
{#	</a>#}
	<h3 class="about-title-two">{% trans 'Same goods' %}</h3>
	    <div class="similar-product">
		    <div id="category-container">
                {% include "good_ajax.html" %}
                <div class="clear"></div>
            </div>
	    </div>
    </div>
    <!-- The Card modal -->
    <div id="message-modal" class="message-modal">
        <div class="message-modal-content">
            <div class="message-modal-header">
                <h4>{% trans 'Send message to' %} {{ good.user.username }}</h4>
                <span class="close" id="message-close" onclick="closeMessage()">×</span>
            </div>
            <div class="message-modal-body">
                <h4>{% trans 'Enter your message' %}</h4>
                <span id="message_errors"></span>
                <br>
                <textarea id="id_message"></textarea>
                <button type="submit" class="add-message-button" onclick="sendMessageChat({{ good.user.pk }})">
                    {% trans 'Send' %}
                </button>
            </div>
        </div>
    </div>
<footer>
	{% include 'social_links.html' %}
</footer>
<script type="text/javascript" src="{% static 'js/good/masonry.pkgd.js' %}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'js/good/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/good/jquery.mousewheel.min.js' %}"></script>
<script>
$(window).load(function() {
	mCustomScrollbars();
});

function mCustomScrollbars(){
	/*
	Параметры плагина CustomScrollbar:
	1) Тип прокрутки (значение: "vertical" или "horizontal")
	2) Величина перемещения со сглаживанием (0 - сглаживание не используется)
	3) Тип сглаживания перемещений
	4) Дополнительное место снизу, только для вертикального типа прокрутки (минимальное значение: 1)
	5) Настройка высоты/ширины панели прокрутки (значение: "auto" или "fixed")
	6) Поддержка прокрутки колесиком мыши (значение: "yes" или "no")
	7) Прокрутка с помощью клавиш (значения: "yes" или "no")
	8) Скорость прокрутки (значение: 1-20, 1 соответствует самой медленной скорости)
	*/
	$("#mcs_container").mCustomScrollbar("vertical",400,"easeOutCirc",0,"auto","yes","yes",10);
}

/* Функция для обхода ошибки с 10000 px для jquery.animate */
$.fx.prototype.cur = function(){
    if ( this.elem[this.prop] != null && (!this.elem.style || this.elem.style[this.prop] == null) ) {
      return this.elem[ this.prop ];
    }
    var r = parseFloat( jQuery.css( this.elem, this.prop ) );
    return typeof r == 'undefined' ? 0 : r;
}

/* Функция для динамической загрузки содержания */
function LoadNewContent(id,file){
	$("#"+id+" .customScrollBox .content").load(file,function(){
		mCustomScrollbars();
	});
}
</script>
<script src="{% static 'js/good/jquery.mCustomScrollbar.js' %}"></script>
<script src="{% static 'js/add_to_cart.js' %}"></script>