#user_avatar{
    height: 50px;
    width: 50px;
}

a{
    text-decoration: none;
    color:#777;
}

.left.comments{
    float: left;
}

.right.likes{
    float: right;
}

#about_title{
    text-transform: uppercase;
    margin: 5px;
}

#about_address{
    margin: 10px;
}


#social{
    margin:15px;
}