@font-face {
  font-family: 'Icotop';
  src: url("/static/semantic/dist/themes/default/assets/fonts/icotop.eot");
  src: url("/static/semantic/dist/themes/default/assets/fonts/icotop.eot?#iefix") format('embedded-opentype'), url("/static/semantic/dist/themes/default/assets/fonts/icotop.woff") format('woff'), url("/static/semantic/dist/themes/default/assets/fonts/icotop.ttf") format('truetype'), url("/static/semantic/dist/themes/default/assets/fonts/icotop.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Icotop' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bf:before {
  content: "\e900";
}
.icon-calc:before {
  content: "\e901";
}
.icon-globe:before {
  content: "\e902";
}
.icon-hammer:before {
  content: "\e903";
}
.icon-main:before {
  content: "\e904";
}
.icon-message:before {
  content: "\e905";
}
.icon-notif:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-settings:before {
  content: "\e908";
}
.icon-statistic:before {
  content: "\e909";
}
.icon-users:before {
  content: "\e90a";
}
.icon-wishlist:before {
  content: "\e90b";
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


/*----------------------------------------------------CARDS GRID----------------------------------------------*/

.card-columns-four {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .card-columns-four {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .card-columns-four {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

.card-columns-four .ui.card {
  display: inline-block;
  margin: 1.0em 0;
  margin-top: 1px;
}

/*-------------------------------------------------------------------------------------------------------------*/


#content{
    max-width: 960px!important;
}

#topbar{
    height:75px;
    background-color:black;
    font-size: 35px;
    padding-bottom: 0;
}

#topbar > table{
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.icon-main{
    font-size: 55px;
}

input[class="search olive"] {
    width: 100%;
    background: transparent;
    color: #92da00;
    border:none;
    border-bottom: 2px solid #92da00;
    text-align: center;
    margin-left:-20px;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 5px;
    box-sizing: border-box;
}

input[class="search olive"]::-webkit-input-placeholder {color:#92da00;}
input[class="search olive"]::-moz-placeholder          {color:#92da00;}/* Firefox 19+ */
input[class="search olive"]:-moz-placeholder           {color:#92da00;}/* Firefox 18- */
input[class="search olive"]:-ms-input-placeholder      {color:#92da00;}

*:focus {outline:0;}

#infobar{
    height:50px;
    padding-bottom: 0!important;
}

#footer{
    margin-top: 25px;
}


#vitrina-icon-bottom {
    width: 77px;
    height: 76px;
    display: block;
    position: fixed;
    bottom: 20px;
    left:50%;
    margin-left: -580px;
    border-radius:50%;
    padding: 0;
}

#vitrina-icon-bottom img {
    width: 67px;
    height: 66px;
    left: 5px;
    top: 5px;
    position: relative;
    z-index:-20;
}

#cart-icon-bottom {
    display: block;
    position: fixed;
    right: 50%;
    bottom: 20px;
    width: 77px;
    height: 76px;
    margin-right: -580px;
    border-radius:50%;
    padding: 0;
}

#cart-icon-bottom img {
    width: 67px;
    height: 66px;
    left: 5px;
    top: 5px;
    position: relative;
    z-index:-20;
}

.ui.grid + .grid {
    margin-top: 0px!important;
}

.column{
    padding-left: 0!important;
    padding-right: 0!important;
}

.padless{
    padding-top: 0!important;
    padding-bottom: 0!important;
}

h5{
    font-weight: 400!important;
    margin-top:0px!important;
    margin-bottom:16px!important;
    text-transform: uppercase
}

h4{
    font-weight: 400!important;
    color:#bbb;
    text-transform: uppercase
}

.ui.form select{
  height: 19px!important;
  padding: 0!important;
}

#topbar .olive > td > a{
    color: #B1FE00!important;
}

#topbar .orange > td > a{
    color: #ff6600!important;
}

#topbar .ui.label, .ui.labels .label{
  font-size:9px!important;
}

.ui.circular.label{
  margin-left:-20px;
  margin-bottom:-5px;
}

.ui[class*="left icon"].input > input {
    padding-left: 1.5em !important;
    padding-right: 1em !important;
}

.ui.icon.input > i.icon{
  width:1.5em!important;
}


/*-------------------------------------------------------CUSTOM RADIO------------------------------------------------------------------*/

.radiocust > input {
  display:none!important;
}

.radiocust > label {
    width: 100%!important;
    height: 23px;
    background-color: #bbb;
    text-align: center;
    padding: 3px;
    color: white!important;
    text-transform: uppercase!important;
}

.radiocust.olive > input[type=radio]:checked + label{
  background-color:#B1FE00;
}

.radiocust.orange > input[type=radio]:checked + label{
  background-color:#ff6600;
}

.accurate{
  margin-top:-5px!important;
}

/*-------------------------------------------------------CUSTOM CHECKBOX------------------------------------------------------------------*/

.checkcust > input {
  display:none!important;
}

.checkcust > label {
    background-color: #bbb;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: white!important;
    text-transform: uppercase!important;
}

.checkcust.olive > input[type=checkbox]:checked + label{
  background-color:#B1FE00;
}

.checkcust.orange > input[type=checkbox]:checked + label{
  background-color:#ff6600;
}

#imageCover {
    min-height: 222px;
    background-color: #e9e9e9;
    text-align: center;
    height: 222px;
    cursor: pointer;
}

.image-holder-title{
  font-size: 22px;
  text-transform: uppercase;
  color:#bbb;
  padding-top: 84px;
}

.retailer-logo-wrapper {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #fff;
    margin: 0 auto;
    font-size: 9px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-top: -45px;
}

.retailer-logo-wrapper .inner {
    background-image: url(/static/images/user_page/blank-photo-logo.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60px;
    border: 1px solid #bbb;
    border-radius: 50%;
}

#retailer-location{
  height: 222px;
}

.copy{
  font-weight: 900;
  text-transform: uppercase;
  margin-top: -10px;
  font-size: 14px;
  color: #7a7a7a;
  margin-top:10px;
}

#revtoggle{
  cursor:pointer;
}

.circular{
  border-radius: 50%;
}

.hiden{
  display: none!important;
}

.modal, .ui.modal > .content{
  background-color: #f1f1f1!important;
}

.ui.modal > .header {
  background-color: #f1f1f1!important;
  text-align: center;
  text-transform: uppercase;
}

#bannerLoad, #avaLoad{
  cursor: pointer;
}

#bannerLoadContainer, #avatarLoadContainer{
  text-align: center;
}

#btnBannerLoad, #clsBannerLoad, #btnAvatarLoad, #clsAvatarLoad, #loadAvFile{
  margin: 5px;
}

/*--------------------------------------------------------------------------CROPIT---------------------------------------------------*/

#bannerLoadContainer > .cropit-preview {
  background-color: #f8f8f8;
  background-size: cover;
  border: 1px solid #ccc;
  margin: 7px 0;
  width: 680px;
  height: 157px;
}

#avatarLoadContainer > .cropit-preview , #avatarLoadContainer .cropit-preview-image-container{
  background-color: #f8f8f8;
  background-size: cover;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  z-index: 1000;
}


input.cropit-image-input {
  display:none;
}


.marker-first-img {
    margin-top: 10px;
}

.marker-img {
    margin-top: 15px;
}

#reviews{
  height: 90px;
  min-height:90px;
  overflow:hidden;
}

#rev_pointer{
  margin-top: 15px;
}

#user_menu .item{
  color:#7a7a7a;
  font-size: 24px;
}

#user_stat .counts{
  color:#7a7a7a;
  font-size: 24px;
  margin-bottom: -2px;
}

#user_stat p{
  margin-bottom: 10px;
}

.ui.comments{
  max-width: 100%!important;
}

.ui.statistics{
  display: block!important;
}

#reviews .ui.table td {
    padding: 0 0.78571429em!important;
}

.ui.table th.collapsing, .ui.table td.collapsing{
  width: 130px!important;
}


#rate_scale > .ui.small.rating{
  margin: 11px;
}

/*--------------------------------------------------USER LOTS--------------------------------------*/

#user_lots{
  position: relative;
}

#user_lots .card{
  width: 180px;
  margin:0;
  box-shadow: 0px 3px 5px 0px #a2a2a2, 0px 0px 0px 1px #909090;
}

#user_lots .card a{
  text-decoration: none;
  color:#7a7a7a;
}

#user_lots .content{
  padding: 5px;
}

#user_lots .content > img{
  width:3em;
  height: 3em;
  margin-right: 0.3em;
}

#user_lots .rev-min{
  font-size: 16px;
}

#user_lots .place-min{
  font-size: 12px;
}

#user_lots .user_link{
  text-transform: uppercase;
}

#user_lots .user_status{
  text-transform: lowercase;
  font-size: 12px;
  color: #bbb;
}

#user_lots .price-min{
  margin-top: 20px;
}

#user_lots .label{
  margin: 2px;
}

/*-------------------------------------------INTEREST GOODS---------------------------------------------*/

#interesting-goods-section .ui.card{
  
    width: calc( 16.66666667% - 0.5em );
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#interesting-goods-section .ui.card > .image{
  
  height:160px;
  overflow:hidden;
  position: relative;
  
}

#interesting-goods-section .ui.card > .image > .img{
  height: 100%;
  background-size: cover;
  background-position: center;
}


#interesting-goods-section .content{
  padding: 5px;
  text-align: center;
}

#interesting-goods-section .content .header{
  font-size: 16px;
}

.interesting-goods-price{
  font-size: 20px;
}

.price_block{
  height: 80px;
}

#interesting-goods-section .content .avatar{
  width:3em;
  height: 3em;
  margin-right: 0.3em;
  margin-left: 0.7em;
}

#interesting-goods-section .button{
  text-transform: uppercase;
}

#interesting-goods-section .user_link{
  text-decoration: none;
  text-transform: uppercase;
  color:#7a7a7a;
}

/*-----------------------------------------COMPLAINT MODAL-------------------------------------------------*/

#complaint-popup .radiocust{
  margin:7px;
}

#textComplaint{
    margin: 0em;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    padding: 0.78571429em 1em;
    background: #FFFFFF;
    border: 0px solid #bfbfbf;
    outline: none;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0px;
    box-shadow: 0em 0em 0em 0em transparent inset;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
    font-size: 1em;
    line-height: 1.2857;
    resize: vertical;
    width:90%;
}

#complaint-popup .headline{
  font-size: 1em;
  text-transform: uppercase;
  color:#7a7a7a;
}

#block-user-module .radiocust{
  display: inline-block;
}

#complaint_submit a{
  width:100px;
  margin-bottom: 10px;
}