{% extends 'basis.html' %}
{% load i18n %}
{% load staticfiles %}
{% load main_tags %}
{% block title %}{{ profile.user.username }}{% endblock %}
{% block page_title %}{% endblock %}

{% load thumbnail %}
{% load accounts_tags %}
{% load goods_tags %}


{% block scripts %}
<script src="{% static 'js/cropit.js' %}"></script>
<script type="text/javascript" src="/static/js/blocksit.js"></script>

{% endblock %}

{% block content %}
	<div class="sixteen wide column padless">
        <div class="image-holder" id="imageCover">
            {% if profile.cover %}
                <img src="/media/{{ profile.cover }}" width="960px" height="222px">
            {% else %}
                <p class="image-holder-title">{{ profile.user.username }}</p>
            {% endif %}
        </div>
        <div class="retailer-logo-wrapper">
            <div class="inner" id="avatarImageDiv">
{#            TODO delete if incorrect #}
                {% if profile.avatar %}
                    <img src="{{ profile.avatar.url }}" width="90px" height="90px" class="circular">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="sixteen wide center aligned column padless">
        <h3>{{ profile.user.username|upper }}</h3>
    </div>
    <div class="sixteen wide center aligned column padless">
        <h4>online</h4>
    </div>
    <div class="sixteen wide center aligned column">
            {{ profile.description|linebreaks }}
    </div>
    <div class="sixteen wide center aligned column">
        <h4>{% trans 'Contacts'|upper %}</h4>
    </div>
    <div id="retailer-location" class="sixteen wide center aligned column padless"></div>
    <div class="sixteen wide center aligned column padless">
        <div class="ui segment grid">
            <div class="five wide center aligned column">
                <h4>{% trans 'Address' %}</h4>
                <div class="copy"> {{ profile.get_country_display }}, {{ profile.city }}</div>
            </div>
            <div class="six wide center aligned column">
                <h4>Skype</h4>
                <div class="copy">{{ profile.skype }}</div>
            </div>
            <div class="five wide center aligned column">
                <h4>{% trans 'Is an' %}</h4>
                <div class="copy">{{ profile.get_org_form_display }}</div>
            </div>
            
            <div class="five wide center aligned column">
                <h4>{% trans 'Contact phone' %}</h4>
                <div class="copy">{{ profile.phone }}</div>
            </div>
            <div class="six wide center aligned column">
                <h4>E-MAIL</h4>
                <div class="copy">{{ profile.user.email }}</div>
            </div>
            <div class="five wide center aligned column">
                <h4>{% trans 'sex' %}</h4>
                <div class="copy">{{ profile.get_sex_display }}</div>
            </div>
            
            <div class="five wide center aligned column">
                <h4>{% trans 'Additional phone' %}</h4>
                <div class="copy">{{ profile.additional_phone }}</div>
            </div>
            <div class="six wide center aligned column">
                <h4>Web-site</h4>
                <div class="copy">{{ profile.site }}</div>
            </div>
            <div class="five wide center aligned column">
                <h4>Instagram</h4>
                <div class="copy">{{ profile.instagram }}</div>
            </div>
        </div>
    </div>
    <div class="sixteen wide center aligned column">
        <h4 id="revtoggle" class="headline">{% trans 'Reviews'|upper %}</h4>
    </div>
    <div id="reviews" class="ui grid">
        <div class="sixteen wide center aligned column padless">
        <table class="ui very basic fixed table">
            <tbody>
            <tr>
                <td class="center aligned">
                    <div class="ui statistics">
                        <div class="statistic">
                            <div class="value">
                                <div class="primary-ranking" id="avgMark">{{ average_mark }}</div>
                                <div class="ui huge rating" data-max-rating="5" data-rating="{{ average_mark|floatformat:'0' }}"></div>
                            </div>
                            
                            <div class="label">
                                {% trans 'total marks' %} {{ profile.get_total_about_marks }}
                            </div>
                        </div>
                    </div>
                </td>
                <td id="rate_scale" class="collapsing right aligned">
                    <div class="ui small rating" data-max-rating="5" data-rating="5"></div><br>
                    <div class="ui small rating" data-max-rating="5" data-rating="4"></div><br>
                    <div class="ui small rating" data-max-rating="5" data-rating="3"></div><br>
                    <div class="ui small rating" data-max-rating="5" data-rating="2"></div><br>
                    <div class="ui small rating" data-max-rating="5" data-rating="1"></div>
                    <!--<img src="{% static 'images/user_page/vertical-star.png' %}" class="marker-first-img"><br>
                    <img src="{% static 'images/user_page/vertical-star.png' %}" class="marker-img"><br>
                    <img src="{% static 'images/user_page/vertical-star.png' %}" class="marker-img"><br>
                    <img src="{% static 'images/user_page/vertical-star.png' %}" class="marker-img"><br>
                    <img src="{% static 'images/user_page/vertical-star.png' %}" class="marker-img">-->
                </td>
                <td class="left aligned">
                    <div id="gChart"></div>
                </td>
                <td class="center aligned">
                    <div id="user_menu" class="ui compact icon menu">
                        <a class="item">
                            <i class="mail outline icon"></i>
                        </a>
                        <a class="item">
                            <i class="empty star icon"></i>
                        </a>
                        <a id="complaint_send" class="item">
                            <i class="frown icon"></i>
                        </a>
                    </div>
                    <table id="user_stat" class="ui fixed table">
		                <tbody>
		                    <tr>
                                <td class="center aligned">
				                    <p class="counts">{{ profile.get_lots_count }}</p>
				                    <p>lots</p>
				                </td>
			    	            <td class="center aligned">
				                    <p class="counts">{{ profile.get_subscribers_count }}</p>
				                    <p>followers</p>
				                </td>
				                <td class="center aligned">
				                    <p class="counts">{{ profile.get_subscription_count }}</p>
				                    <p>following</p>
                                </td>
                            </tr>
		                </tbody>
		            </table>
                </td>
            </tr>
            </tbody>
		</table>
		{% if profile.user.pk != request.user.pk and request.user.is_authenticated%}
		    <a href="#" class="results-block-item-header-cta-wrapper" id="followLink" data-id="{{ profile.user.pk }}" data-action="{% if profile.user in request.user.subscribers.users.all  %}remove{% else %}add{% endif %}">
                {% trans 'Follow' %}
            </a>
        {% endif %}
		<div class="ui divider"></div>
		</div>
		<div class="sixteen wide left aligned column" id="rating_section">
		    <div class="ui comments">
            {% for review in about_reviews %}
		        <div class="comment">
			        <div class="avatar">
                        {% if review.author.profile.avatar %}
                                <img src="/media/{{ review.author.profile.avatar }}"></img>
                        {% endif %}
                    </div>
			        <div class="content">
                        <div class="author">
                            {{ review.author.username }} <div class="ui small rating" data-max-rating="5" data-rating="{{ review.mark|floatformat:'0' }}"></div>
                        </div>
                        <div class="text">
                            {{ review.text|linebreaksbr }}
                        </div>
                    </div>
                </div>
            {% empty %}
                {% trans 'No reviews yet.' %}
            {% endfor %}
            </div>
            {% if request.user.is_authenticated %}
                {% if request.user != profile.user %}
                    {% if request.user.pk in all_to_user_sold_orders %}
			               <a class="cta">{% trans 'write review' %}</a>
                    {% endif %}
                {% endif %}
            {% endif %}
            <div class="ui divider"></div>
		</div>
    </div>
    <div id="rev_pointer" class="sixteen wide center aligned column">
		<h6>PUSH REVIEWS TO OPEN</h6>
	</div>
	<div class="sixteen wide center aligned column">
		<img id="lottoggle" src="{% static 'images/user_page/infinity-symbol.png' %}">
	</div>
	<div id="wrapper-tabs" class="sixteen wide column">
	    <div class="ui segment">
            <div class="sumssd"></div>
            <div id="sort-min">
                <table class="ui very basic fixed table">
                    <tbody>
                        <tr>
                            <td class="center aligned copy">
                                <i id="sort-price-up" class="angle up icon"></i>
				                <span>{% trans 'price' %}</span>
				                <i id="sort-price-down" class="angle down icon"></i>
                            </td>
                            <td class="center aligned copy">
                                {{ profile.get_lots_count }} lot{{ profile.get_lots_count|pluralize }}
                            </td>
                            <td class="center aligned copy">
                                <i id="sort-down" id="sort-data-up" class="angle up icon"></i>
				                <span>{% trans 'date' %}</span>
				                <i id="sort-data-down" class="angle down icon"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
			    <div class="ui divider"></div>
		    </div>
		    <div id="user_lots">
                {% with goods=user_goods %}
                    {% include "good_ajax.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
	<div class="sixteen wide center aligned column">
		<img src="{% static 'images/user_page/interesting-ribbon.png' %}">
		<h4 class="title">{% trans 'Intresting goods' %}</h4>
	</div>
	<div class="sixteen wide column">
	    <div id="interesting-goods-section">
	        <div class="ui segment">
	            <div class="ui six cards">
                    {% for good in goods_with_max_likes %}
                        <div class="ui card">
			                <a href="{{ good.get_absolute_url }}"></a>
		                    <!--<div class="image">
                                {% show_good_image good 100 93 'interesting-goods-img' %}
                            </div>-->
                            <div class="image">
                                <div class="img" style="background-image:url('/media/{{ good.get_first_image.image }}');"></div>
                            </div>
                            <div class="content">
                                <div class="price_block">
                                    <div class="header">{{ good.title }}</div>
                                    <p class="interesting-goods-price">{{ good.get_good_price_by_deal }}</p>
                                </div>
                                <a class="ui fluid small olive basic button">{% trans 'In cart' %}</a>
                            </div>
                            <div class="content">
                                {% if good.user.profile.avatar %}
                                    <img class="ui avatar image left floated meta" src="/media/{{ good.user.profile.avatar }}">
                                {% endif %}
                                    <a class="user_link" href="{{ good.user.profile.get_absolute_url }}">{{ good.user.username }}</a>
                            </div>
                        </div>
                    {% empty %}
                        {% trans 'No goods found' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------------------------------------------------------------------MODALS-------------------------------------------------------------------->
    <div id="img-load-module" class="ui small modal">
        <div class="header">{% trans 'Upload image' %}</div>
        <div class="content">
            <div class="ui grid">
                <div class="sixteen wide center aligned column">
                    <img src="{% static 'images/user_page/upload-popup-img1.png' %}"><br>
                    <p class="copy">{% trans 'Take photo from the device' %}</p>
                </div>
                <div id="bannerLoad" class="sixteen wide center aligned column">
                    <img src="{% static 'images/user_page/upload-popup-img2.png' %}">
                    <p class="copy">{% trans 'Upload from the device' %}</p>
                </div>
                <div id="avaLoad" class="sixteen wide center aligned column">
                    <img src="{% static 'images/user_page/upload-popup-img2.png' %}">
                    <p class="copy">{% trans 'Upload from the device' %}</p>
                </div>
                <!--<div class="seven wide center aligned column"></div>
                <div class="two wide center aligned column">
                    <a class="ui basic small grey fluid button">X</a>
                </div>
                <div class="seven wide center aligned column"></div>-->
            </div>
        </div>
    </div>
    <div id="upload-custom-banner-popup" class="ui small modal">
        <div class="header">{% trans 'Upload image' %}</div>
        <div class="content">
            <div id="bannerLoadContainer">
                <input id="bannerFile" type="file" class="cropit-image-input" />
                <div id="loadFile" class="ui miny grey basic button">Select new image</div>
                <div class="cropit-preview"></div>
                <input type="range" class="cropit-image-zoom-input" />
            </div>
	    </div>
	    <div class="action ui grid">
	        <div class="seven wide column"></div>
	        <div class="two wide center aligned column">
	            <button class="ui small olive fluid button" id="btnBannerLoad">OK</button>
		        <button class="ui small grey basic fluid button" id="clsBannerLoad">CANCEL</button>
		    </div>
		    <div class="seven wide column"></div>
	    </div>
        </div>
    <div id="upload-custom-logo-popup" class="ui small modal">
        <div class="header">{% trans 'Upload image' %}</div>
        <div class="content">
            <div id="avatarLoadContainer">
                <input id="avatarFile" type="file" class="cropit-image-input" />
                <div id="loadAvFile" class="ui miny grey basic button">Select new image</div>
                <div class="cropit-preview"></div>
                <input type="range" class="cropit-image-zoom-input" />
            </div>
        </div>
        <div class="action ui grid">
	        <div class="seven wide column"></div>
	        <div class="two wide center aligned column">
	            <button class="ui small olive fluid button" id="btnAvatarLoad">OK</button>
		        <button class="ui small grey basic fluid button" id="clsAvatarLoad">CANCEL</button>
		    </div>
		    <div class="seven wide column"></div>
	    </div>
    </div>
    <div id="complaint-popup" class="ui small modal">
        <div class="header">{% trans 'Complain' %}</div>
        <div class="content">
            <div class="ui grid">
                <div class="sixteen wide column center aligned padless" id="complaint_reason">
                    <h3 class="headline">{% trans 'Reason' %}</h3>
                    <div class="radiocust olive">
                        <input type="radio" name="complaint-reason" id="reason1" value="{{ OWNER_IMPERSONATE }}">
                        <label for="reason1">{% trans 'Owner profile is impersonating another' %}</label>
                    </div>
                    <div class="radiocust olive">
                        <input type="radio" name="complaint-reason" id="reason2" value="{{ FRAUD }}">
                        <label for="reason2">{% trans 'Fraud' %}</label>
                    </div>
                    <div class="radiocust olive">
                        <input type="radio" name="complaint-reason" id="reason3" value="{{ SPAM }}">
                        <label for="reason3">{% trans 'Spam' %}</label>
                    </div>
                    <div class="radiocust olive">
                        <input type="radio" name="complaint-reason" id="reason4" value="{{ ADVERTISE }}">
                        <label for="reason4">{% trans 'Advertising page clog up search' %}</label>
                    </div>
                    <div class="ui divider"></div>
                </div>
                <div class="sixteen wide column center aligned padless">
                    <h3 class="headline">{% trans 'Comment' %}</h3>
                    <textarea rows="7" id="textComplaint"></textarea>
                    <div class="ui divider"></div>
                </div>
                <div class="sixteen wide column center aligned padless">
                    {% if profile.user in request.user.my_blocklist.users.all %}
                        <h3 class="headline" id="block-user" data-block="unblock">{% trans 'Unblock' %}</h3>
                    {% else %}
                        <h3 class="headline" id="block-user" data-block="block">{% trans 'Block' %}</h3>
                    {% endif %}
                    <div class="block-user-module" id="block-user-module">
                        <div class="radiocust olive">
                            <input type="radio" id="confirm-block-n" name="blockUser" value="0">
                            <label for="confirm-block-n">{% trans 'No, cancel' %}</label>
                        </div>
                        <div class="radiocust olive">
                            <input type="radio" id="confirm-block-y" name="blockUser" value="1">
                            <label for="confirm-block-y">{% trans 'Yes, confirm' %}</label>
                        </div>
                    </div>
                    <p class="subheadline">*{% trans 'I do not want to this account could send me messages' %}</p>
                    <div class="ui divider"></div>
                    <input id="user_id" type="hidden" value="{{ profile.user.pk }}">
                </div>
                <div id="complaint_submit" class="sixteen wide column center aligned padless">
                    <a class="ui small olive button" id="okComplaint">OK</a>
                    <br>
                    <a id="closeComplaint" class="ui small grey basic button">X</a>
                </div>
            </div>
        </div>
    </div>
    <div id="reviews-popup-wrapper" class="ui modal">
        <div class="caption">{% trans 'Review' %}</div>
        <div class="upload-photo-popup">
            <p class="headline">{% trans 'Your mark' %}</p>
            <div class="primary-stars clearfix">
                <div class="rateit bigstars" data-rateit-starwidth="23" data-rateit-starheight="22" data-rateit-resetable="false"  data-rateit-ispreset="true" id="rateReview"></div>
            </div>
            <textarea class="reviews-popup-input" id="textReview"></textarea>
            <a class="cta" id="okReview">OK</a>
            <div class="close">X</div>
        </div>
    </div>

    <script src="{% static 'js/vendor/rateit/jquery.rateit.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>

    <!-- Google chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            // Define the chart to be drawn.
            var data = new google.visualization.arrayToDataTable([
                ['Mark', 'Count', {role: 'style'}],
                ['5', {{ five_count }}, '#329846'],
                ['4', {{ four_count }}, '#b1fe00'],
                ['3', {{ three_count }}, '#f5ee31'],
                ['2', {{ two_count }}, '#ff6600'],
                ['1', {{ one_count }}, '#ef4036']
            ]);
            // Set chart options: disable grid, start line, legend, annotation
            var options = {
                width: 200,
                height: 175,
                chartArea: {width: '100%', height: '100%', left:0,top:0,},
                annotations: {
                    stem: {
                        color: 'transparent'
                    }
                },
                hAxis: {
                    gridlines: {
                        color: 'transparent'
                    },
                    textPosition: 'none',
                    baseline: 0,
                    baselineColor: 'none',
                    ticks: []
                },
                vAxis: {
                    gridlines: {
                        color: 'transparent'
                    },
                    textPosition: 'none',
                    baseline: 0,
                    baselineColor: 'none',
                    ticks: []
                },
                backgroundColor: {
                    stroke: 'transparent'
                },
                legend: {position: 'none'}
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.BarChart(document.getElementById('gChart'));
            chart.draw(data, options);
        }
  </script>


    <script>
        // Google geocoding api. Code user addreess to geo coordinates and initialize map
        var geocoder;
        var map;
        function initialize () {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(55.75, 37.61);
            var mapOptions = {
                zoom: {% if profile.city %}8 {% else %} 3 {% endif %},
                center: latlng
            };
            map = new google.maps.Map(document.getElementById('retailer-location'), mapOptions);
        }
        
        function codeAddress () {
            // Set address by user profile information and geocode it
            var address = '{{ profile.get_country_display }}, {% if profile.city %}{{ profile.city }} {% endif %}';
            geocoder.geocode({'address': address}, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    console.log("Geocode was not successful for the following reason: " + status);
                }
            })
        }

        window.onload = function () {
            initialize();
            codeAddress();
        };

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_GEOCODING_KEY }}&callback=initialize"></script>
    
{% endblock %}

<div class="primary-stars">
                                    <div class="ui huge rating" data-max-rating="5"></div>
                                    <div class="rateit bigstars" data-rateit-value="{{ average_mark }}" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-starwidth="23" data-rateit-starheight="22"></div>
		                        </div>

<div class="logo-section">
                        {% if review.author.profile.avatar %}
                            {% thumbnail review.author.profile.avatar "37x36" as im %}
                                <img src="{{ im }}"></img>
                            {% endthumbnail %}
                        {% endif %}
                    </div>
                    

		    <div class="top-menu clearfix">
			    <div class="col-3">
				    <img src="{% static 'images/user_page/envelope.png' %}">
			    </div>
			    <div class="col-3">
				    <img src="{% static 'images/user_page/star.png' %}">
			    </div>
			    <div class="col-3 complaint">
				    <img src="{% static 'images/user_page/unhappy-face.png' %}">
			    </div>
            </div>
            
            
            
            
            
            <div class="visibility-eye active">
            <img class="active" src="{% static 'images/user_page/open-eye-icon.png' %}">
            <img src="{% static 'images/user_page/closed-eye-icon.png' %}">
        </div>
                    <div class="cross-goods">
                <img src="{% static 'images/user_page/cross-little-icon.png' %}">
            </div>
            
            
            
            
            </head>
<body>
    <div id="wrapper" class="white">
    <div id="up"></div>
    {% include 'cart_showcase_block.html' %}
	<header class="blackheader green">
        {% if request.user.is_authenticated %}
            {% include 'main_menu.html' %}
        {% else %}
            {% include 'sign_in.html' %}
        {% endif %}
		<div class="clear"></div>
	</header>
		<div class="search-box">
			<img class="img-search" src="{% static 'images/user_page/search-green-icon_03.png' %}">
            <form action="{% url 'goods:search' %}" method="get">
                {{ searchform.query|add_class_to_formfield:"search" }}
            </form>
		</div>
		<div class="clear"></div>
	    <section class="retailer-main">
            <div class="image-holder" id="imageCover">
                {% if profile.cover %}
                    <img src="{{ profile.cover.url }}" width="900px" height="222px">
                {% else %}
                    <h3 class="image-holder-title" style="margin-top: 84px !important;">{{ profile.user.username }}</h3>
                {% endif %}
            </div>
            <div class="retailer-logo-wrapper">
                <div class="inner" id="avatarImageDiv">
                    {% if profile.avatar %}
                        <img src="{{ profile.avatar.url }}" width="90px" height="90px" class="circular">
                    {% endif %}
                </div>
            </div>
            <h3 class="logo">{{ profile.user.username }}</h3>
            <h3 class="online-status">{{ profile.get_status_display }}</h3>
            <div class="retailer-description">
                <h3 class="headline">{{ profile.user.username }}</h3>
                {{ profile.description|linebreaks }}
            </div>
            <div class="contact-retailer-headline">
                <h3 class="headline">{% trans 'Contacts' %}</h3>
            </div>
            <div id="retailer-location">

            </div>
            <div class="contact-retailer-info-wrapper clearfix">
                <ul>
                    <li class="item">
                        <div class="label">{% trans 'Address' %}</div>
                        <div class="copy geo"> {{ profile.get_country_display }}, {{ profile.city }}</div>
                    </li>
                    <li class="item">
                        <div class="label">Skype</div>
                        <div class="copy">{{ profile.skype }}</div>
                    </li>
                    <li class="item">
                        <div class="label">{% trans 'Is an' %}</div>
                        <div class="copy">{{ profile.get_org_form_display }}</div>
                    </li>
                    <li class="item">
                        <div class="label">{% trans 'Contact phone' %}</div>
                        <div class="copy">{{ profile.phone }}</div>
                    </li>
                    <li class="item">
                        <div class="label">E-MAIL</div>
                        <div class="copy">{{ profile.user.email }}</div>
                    </li>
                    <li class="item">
                        <div class="label">{% trans 'sex' %}</div>
                        <div class="copy">{{ profile.get_sex_display }}</div>
                    </li>
                    <li class="item">
                        <div class="label">{% trans 'Additional phone' %}</div>
                        <div class="copy">{{ profile.additional_phone }}</div>
                    </li>
                    <li class="item">
                        <div class="label">Web-site:</div>
                        <div class="copy">{{ profile.site }}</div>
                    </li>
                    <li class="item">
                        <div class="label">Instagram</div>
                        <div class="copy">{{ profile.instagram }}</div>
                    </li>
                </ul>
            </div>
        </section>
        <div class="module-toggle">
            <h3 class="headline">{% trans 'Reviews' %}</h3>
        </div>
        <section class="reviews-wrapper module">
            <div class="clearfix">
                <div class="primary-star-section">
                    <div class="primary-ranking" id="avgMark">{{ average_mark }}</div>
                    <div class="primary-stars">
                        <div class="rateit bigstars" data-rateit-value="{{ average_mark }}" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-starwidth="23" data-rateit-starheight="22"></div>
				    </div>
                    <div class="primary-stars-subtext">{% trans 'total marks' %}
                        <span id="total_marks_number">{{ profile.get_total_about_marks }}</span>
                    </div>
                </div>
                <div class="secondary-star-section">
                    <div class="star-div">
                        <div class="markers-div">
                            <img src="{% static 'images/user_page/vertical-star.png' %}" class="marker-first-img"><br>
                            <img src="{% static 'images/user_page/vertical-star.png' %}" class="marker-img"><br>
                            <img src="{% static 'images/user_page/vertical-star.png' %}" class="marker-img"><br>
                            <img src="{% static 'images/user_page/vertical-star.png' %}" class="marker-img"><br>
                            <img src="{% static 'images/user_page/vertical-star.png' %}" class="marker-img">
                        </div>
                        <div class="chart-div">
                            <div id="gChart"></div>
                        </div>
                    </div>
			    </div>
			    <div class="text-review-section" id="rating_section">
                    {% for review in about_reviews %}
				        <div class="item clearfix">
					        <div class="logo-section">
                                {% if review.author.profile.avatar %}
                                    {% thumbnail review.author.profile.avatar "37x36" as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                                {% endif %}
                            </div>
					        <div class="text-section">
                                <div class="headline">
                                    {{ review.author.username }}
                                    <span class="stars">
                                        <div class="rateit smallstars" data-rateit-value="{{ review.mark }}" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-starwidth="12" data-rateit-starheight="12"></div>
                                    </span>
                                </div>
                                <div class="copy">
                                    {{ review.text|linebreaksbr }}
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        {% trans 'No reviews yet.' %}
                    {% endfor %}
                    {% if request.user.is_authenticated %}
                        {% if request.user != profile.user %}
                            {% if request.user.pk in all_to_user_sold_orders %}
				                <a class="cta">{% trans 'write review' %}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
			    </div>
			    <div class="review-stats-section">
				    <div class="top-menu clearfix">
					    <div class="col-3">
						    <img src="{% static 'images/user_page/envelope.png' %}">
					    </div>
					    <div class="col-3">
						    <img src="{% static 'images/user_page/star.png' %}">
					    </div>
					    <div class="col-3 complaint">
						    <img src="{% static 'images/user_page/unhappy-face.png' %}">
					    </div>
                    </div>
				    <div class="bottom-menu clearfix">
					    <div class="col-3">
						    <p class="headline">{{ profile.get_lots_count }}</p>
						    <p class="copy">lots</p>
					    </div>
					    <div class="col-3">
						    <p class="headline" id="followers">{{ profile.get_subscribers_count }}</p>
						    <p class="copy">followers</p>
					    </div>
					    <div class="col-3">
						    <p class="headline">{{ profile.get_subscription_count }}</p>
						    <p class="copy">following</p>
					    </div>
				    </div>
                    {% if profile.user.pk != request.user.pk and request.user.is_authenticated%}
				        <a href="#" class="results-block-item-header-cta-wrapper" id="followLink" data-id="{{ profile.user.pk }}" data-action="{% if profile.user in request.user.subscribers.users.all  %}remove{% else %}add{% endif %}">
                            {% trans 'Follow' %}
                        </a>
                    {% endif %}
			    </div>
		    </div>
        </section>
	<div class="module-toggle infinity">
		<img src="{% static 'images/user_page/infinity-symbol.png' %}">
	</div>
	<div id="wrapper-tabs" class="tab1 module">
        <div class="sum">

        </div>
        <div class="cross-goods">
            <img src="{% static 'images/user_page/cross-little-icon.png' %}">
        </div>
        <div class="visibility-eye active">
            <img class="active" src="{% static 'images/user_page/open-eye-icon.png' %}">
            <img src="{% static 'images/user_page/closed-eye-icon.png' %}">
        </div>
        <div id="sort-min">
			<div id="sort-min-price">
				<a href="#" id="sort-down" class="sort-price"></a>
				<span>{% trans 'price' %}</span>
				<a href="#" id="sort-up" class="sort-price"></a>
			</div>
			<div id="sort-min-price-title">{{ profile.get_lots_count }} lot{{ profile.get_lots_count|pluralize }}</div>
			<div id="sort-min-data">
				<a href="#" id="sort-down" class="sort-data"></a>
				<span>{% trans 'date' %}</span>
				<a href="#" id="sort-up" class="sort-data"></a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="tab2">
			<div id="category-container" class="category-container-tab2">
                {% with goods=user_goods %}
                    {% include "good_ajax.html" %}
                {% endwith %}
                <div class="clear"></div>
            </div>
        </div>
    </div>
	<section class="interesting-goods-headline">
		<img src="{% static 'images/user_page/interesting-ribbon.png' %}">
		<h4 class="title">{% trans 'Intresting goods' %}</h4>
	</section>
	<section class="interesting-goods-section">
        {% for good in goods_with_max_likes %}
            <div class="item">
			    <a href="{{ good.get_absolute_url }}">
                    {% show_good_image good 100 93 'interesting-goods-img' %}
                    <div class="item-group">
                        <h5 class="title">{{ good.title }}</h5>
                        <p class="interesting-goods-price">{{ good.get_good_price_by_deal }} $</p>
                    </div>
                </a>
                <a class="interesting-goods-cta">{% trans 'Buy' %}</a>
                <div class="clearfix logo-wrap">
                    <a href="{{ good.user.profile.get_absolute_url }}">
                        <div class="interesting-goods-logo-wrapper">
                            {% if good.user.profile.avatar %}
                                {% thumbnail good.user.profile.avatar "36x36" as im %}
                                    <img src="{{ im.url }}">
                                {% endthumbnail %}
                            {% endif %}
                        </div>
                        <div class="interesting-goods-title-wrapper">
                            <div class="vertical-align">
                                <p class="copy gray">{% trans 'seller' %}</p>
                                <p class="copy">{{ good.user.username }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% empty %}
            {% trans 'No goods found' %}
        {% endfor %}
    </section>
    </div>
    <footer>
        {% include 'social_links.html' %}
    </footer>
    <div class="overlay"></div>
    <section class="upload-photo-popup-wrapper logo-module">
        <div class="caption">{% trans 'Upload image' %}</div>
        <div class="upload-photo-popup">
            <div class="section">
                <img src="{% static 'images/user_page/upload-popup-img1.png' %}">
                <p class="copy">{% trans 'Take photo from the device' %}</p>
            </div>
            <div class="uploadIt">
                <img src="{% static 'images/user_page/upload-popup-img2.png' %}">
                <p class="copy">{% trans 'Upload from the device' %}</p>
            </div>
            <a class="cta">OK</a>
            <div class="close">X</div>
        </div>
    </section>
    <section class="upload-photo-popup-wrapper banner-module">
        <div class="caption">{% trans 'Upload image' %}</div>
        <div class="upload-photo-popup">
            <div class="section">
                <img src="{% static 'images/user_page/upload-popup-img1.png' %}">
                <p class="copy">{% trans 'Take photo from the device' %}</p>
            </div>
            <div class="uploadIt">
                <img src="{% static 'images/user_page/upload-popup-img2.png' %}">
                <p class="copy">{% trans 'Upload from the device' %}</p>
            </div>
            <a class="cta">OK</a>
            <div class="close">X</div>
        </div>
    </section>
    <section class="upload-custom-banner-popup">
        <div class="caption">{% trans 'Upload image' %}</div>
        <div class="custom-banner-popup">
            <div class="container">
                <div class="action">
                    <div>
                        <div class="file-upload-wrapper">
                            <span class="file-upload-label">{% trans 'Choose file' %}</span>
                            <input type="file" id="file" class="cropit-image-input">
                        </div>
                        <span class="file-input" id="fileInputBanner"></span>
                    </div>
                    <input type="range" id="zoom" min = "0.5" max = "3.5" value = "1" step="0.1">
                </div>
                <div class="imageBox">
                    <div class="thumbBox"></div>
                </div>
                <div class="cropped"></div>
            </div>
		    <a class="export"  id="btnCrop">OK</a>
		    <div class="close">X</div>
	    </div>
        <style>
            .custom-banner-popup input[type="range"] {
                max-width:300px;
                float:none;
                margin:20px auto;
            }
            .imageBox {
                position: relative;
                height: 300px;
                width: 100%;
                background: #fff;
                overflow: hidden;
                background-repeat: no-repeat;
                cursor:move;
            }
            .imageBox .thumbBox
            {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 200px;
                margin-top: -100px;
                margin-left: 0;
                box-sizing: border-box;
                border: 1px solid rgba(250, 250, 250, 0.6);
                box-shadow: 0 0 0 1000px rgba(250, 250, 250, 0.7);
                background: none repeat scroll 0% 0% transparent;
            }
            .imageBox .spinner {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                text-align: center;
                line-height: 400px;
                background: rgba(0,0,0,0.7);
            }
        </style>
        </div>
    </section>
    <section class="upload-custom-logo-popup ">
        <div class="caption">{% trans 'Upload image' %}</div>
        <div class="custom-banner-popup">
            <div class="image-uploader-logo">
                <div class="file-upload">
                    <div class="file-upload-wrapper">
                        <span class="file-upload-label">{% trans 'Choose file' %}</span>
                        <input type="file" id="uploadFileLogin" class="cropit-image-input">
                    </div>
                    <span class="file-input" id="fileInputLogin"></span>
                </div>
                <input type="range" class="cropit-image-zoom-input">
                <!-- .cropit-image-preview-container is needed for background image to work -->
                <div class="cropit-image-preview-container">
                    <div class="cropit-image-preview"></div>
                </div>
                <button class="export" id="btnCropAvatar">OK</button>
            </div>
            <div class="close">X</div>
        </div>
    </section>
    <section class="complaint-popup">
        <div class="caption">{% trans 'Complain' %}</div>
        <div class="complaint-popop-content">
            <section class="complaint-reason" id="complaint_reason">
                <h3 class="headline">{% trans 'Reason' %}</h3>
                <input type="radio" name="complaint-reason" id="reason1" value="{{ OWNER_IMPERSONATE }}">
                <label for="reason1">{% trans 'Owner profile is impersonating another' %}</label>
                <input type="radio" name="complaint-reason" id="reason2" value="{{ FRAUD }}">
                <label for="reason2">{% trans 'Fraud' %}</label>
                <input type="radio" name="complaint-reason" id="reason3" value="{{ SPAM }}">
                <label for="reason3">{% trans 'Spam' %}</label>
                <input type="radio" name="complaint-reason" id="reason4" value="{{ ADVERTISE }}">
                <label for="reason4">{% trans 'Advertising page clog up search' %}</label>
            </section>
            <section class="complaint-comment">
                <h3 class="headline">{% trans 'Comment' %}</h3>
                <textarea class="complaint-comment-text" id="textComplaint"></textarea>
            </section>
            <section class="complaint-block">
                {% if profile.user in request.user.my_blocklist.users.all %}
                    <h3 class="headline" id="block-user" data-block="unblock">{% trans 'Unblock' %}</h3>
                {% else %}
                    <h3 class="headline" id="block-user" data-block="block">{% trans 'Block' %}</h3>
                {% endif %}
                <div class="block-user-module" id="block-user-module">
                    <div class="col-2">
                        <input type="radio" id="confirm-block-n" name="blockUser" value="0">
                        <label for="confirm-block-n">{% trans 'No, cancel' %}</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" id="confirm-block-y" name="blockUser" value="1">
                        <label for="confirm-block-y">{% trans 'Yes, confirm' %}</label>
                    </div>
                </div>
                <p class="subheadline">*{% trans 'I do not want to this account could send me messages' %}</p>
            </section>
            <a class="cta" id="okComplaint">OK</a>
            <div class="close">X</div>
        </div>
    </section>
    <section class="reviews-popup-wrapper">
        <div class="caption">{% trans 'Review' %}</div>
        <div class="upload-photo-popup">
            <p class="headline">{% trans 'Your mark' %}</p>
            <div class="primary-stars clearfix">
                <div class="rateit bigstars" data-rateit-starwidth="23" data-rateit-starheight="22" data-rateit-resetable="false"  data-rateit-ispreset="true" id="rateReview"></div>
            </div>
            <textarea class="reviews-popup-input" id="textReview"></textarea>
            <a class="cta" id="okReview">OK</a>
            <div class="close">X</div>
        </div>
    </section>
	<script type="text/javascript" src="{% static 'js/user_page/masonry.pkgd.js' %}"></script>
    <script src="{% static 'js/vendor/rateit/jquery.rateit.js' %}"></script>
	<script src="{% static 'js/user_page/jquery.cropit.js' %}"></script>
    <script>
        $(function() {
            $('.image-uploader-logo').cropit({
                exportZoom: 1.25,
                imageBackground: true,
                imageState: {
                    src: 'http://lorempixel.com/600/200/'
                }
            });
            // Upload avatar and set it on markup by AJAX
            $('#btnCropAvatar').click(function() {
                var imageData = $('.image-uploader-logo').cropit('export');
                console.log(imageData);
                var formdata = new FormData();
                formdata.append('avatar', imageData);
                $.ajax('{% url 'accounts:upload_image' %}', {
                    type: 'POST',
                    data: formdata,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.status == 'ok') {
                            console.log(data.url);
                            console.log($('#avatarImageDiv').html());
                            $('#avatarImageDiv').html('<img src="' + data.url + '" width=90px height=90px class="circular">');
                            $(".upload-custom-logo-popup, .overlay").hide();
                        }
                    }
                });
            });
        });
    </script>
	<script src="{% static 'js/user_page/cropbox.js' %}"></script>
    <script>
        $(window).load(function() {
            var options = {
                thumbBox: '.thumbBox',
                spinner: '.spinner',
                imgSrc: 'avatar.png'
            };
            var cropper = $('.imageBox').cropbox(options);
            $('#file').on('change', function(){
                var reader = new FileReader();
                reader.onload = function(e) {
                    options.imgSrc = e.target.result;
                    cropper = $('.imageBox').cropbox(options);
                };
                $("#zoom").val(1);
                reader.readAsDataURL(this.files[0]);
                this.files = [];
            });

            // Upload cover by AJAX
            $('#btnCrop').on('click', function(e){
                e.preventDefault();
                var formdata = new FormData();
                var img = cropper.getDataURL();
                formdata.append('cover', img);
                $('.cropped').append('<img src="'+img+'">');
                // Upload cropped cover on server
                $.ajax('{% url 'accounts:upload_image' %}', {
                    type: 'POST',
                    data: formdata,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.status == 'ok') {
                            console.log(data.url);
                            $('#imageCover').html('<img src="' + data.url + '" width=900px height=222px>');
                            $(".upload-custom-banner-popup, .overlay").hide();
                        }
                    }
                });
            });

            $('#btnZoomIn').on('click', function(){
                cropper.zoomIn();
            });
            $('#btnZoomOut').on('click', function(){
                cropper.zoomOut();
            });
            $('#zoom').on('change', function(){
                var the_val = $(this).val();
                console.log(the_val);
                cropper.zoom(the_val);
            });
        });
    </script>